body {
  margin: 20px;
  background-color: white;
}

.botao1 {
  padding: 14px 41px 14px 40px;
  background-color: var(--cor-0);
  color: white;
  border-radius: 28px;
  font-family: 'Kumbh Sans', sans-serif;
  line-height: 1.75;
  font-weight: 700;
  font-size: 1rem;
  transition: .3s;
 }

.botao2 {
  padding: 14px 41px 14px 40px;
  background: #E4EAFF;
  color: var(--cor-0);
  border-radius: 28px;
  font-family: 'Kumbh Sans', sans-serif;
  line-height: 1.75;
  font-weight: 700;
  font-size: 1rem;
  transition: .3s;
}

.botao3 {
  padding: 14px 41px 14px 40px;
  background-color: #fff;
  color: var(--cor-0);
  border-radius: 28px;
  font-family: 'Kumbh Sans', sans-serif;
  line-height: 1.75;
  font-weight: 700;
  font-size: 1rem;
  transition: .3s;
}

.botao1:hover {
  opacity: .7;
}

.botao3:hover {
  color: #829CFF;
}

.botao2:hover {
  opacity: .7;
}