*{
  transition: .3s;
}

::placeholder{
  color:#747B95;
}

body{
  margin: 0px;
}

h1,h2,h3,p{
  margin: 0px;
}

ul{
  list-style: none;
}

ul,li{
  padding: 0px;
  margin: 0px;
}  

img{
  max-width: 100%;
  display: block;
}

a{
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

button{
  border: none;
}

.bodypattern-1{
  background-image: url("../../assets/home/bg-pattern-header.svg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: right -364px top -430px;
  background-color: #F2F2F2;
}

.bodypattern-2{
  background: url("../../assets/sign-up/bg-pattern-side.svg") right -880px top -780px no-repeat, linear-gradient(90deg, rgba(255,255,255,1) 70%, rgba(37,41,58,1) 70%);
}

.mt1{
  margin-top: 24px;
}

.mt2{
  margin-top: 40px;
}

@media (max-width:900px){
  .bodypattern-2{
    background: url("../../assets/sign-up/bg-pattern-side.svg") center top 300px no-repeat, linear-gradient(180deg, rgba(255,255,255,1) 71%, rgba(37,41,58,1) 71%);
    background-size: 1600px,auto;
  }

}