.conteudo-principal{ 
  display: grid;
  grid-template-columns: repeat(2,1fr);
  max-width: 1110px;
  margin: 0 auto;
}


.conteudo-principal-texto p{
  margin: 24px 0px 32px 0px;
}

.conteudo-principal-texto a{
  box-shadow: 0px 25px 25px -10px rgba(63, 91, 194, 0.247159);
}